@font-face {
  font-family: "My-font1";
  src: url(./HelveticaNowText-ExtraBold.woff2) format('woff2');
  font-weight: bold;
  font-style: bold;
  font-display: swap
}

@font-face {
  font-family: "My-font2";
  src: url(./HelveticaNowText-Light.woff2) format('woff2') ;
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

:root{
    --secundario: #d9b84f;
    --black: #2d2d2d ;
  
  }

  .contenedor{
    max-width: 110rem;
    margin: 0 auto;
    width: 100%;
}


body{
  font-family: 'My-font2', sans-serif;
  font-weight: normal;
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
}

p {margin-bottom: 1rem;
  font-size: 1.3rem;
  line-height: 1.4;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  
}

h1 {
  margin-top: 0;
  font-size: 11.089rem;
  color: #fff;
  font-family:'My-font1';
}

h2 {font-size: 6.854rem; font-family: 'My-font1';}

h3 {font-size: 4.236rem;}

h4 {font-size: 2.618rem;}

h5 {font-size: 1.618rem;}

small, .text_small {font-size: 0.618rem;}

p, h3 {color: #fff;}

a{ 
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

/* .popupcontent{
  max-width: 100rem;
  margin: 0 auto;
}

.panel{
  
  z-index:100;
  animation: animation_pop .5s ease-in-out both;
  }


@media (min-width: 992px) { 
  .panel{
    display:flex;
    
    }
}
 
  
@keyframes animation_pop {
  from{opacity: 0;}
  to{opacity: 100%;}
}
.X{
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: end;
}
.X:hover{
  cursor: pointer;
}

.popup{
  position: relative;
  width: 35rem;
  height: 30rem;
  background-color: #000;
  border: var(--secundario) solid 0.5px ;
  border-radius: 7px;
  padding: 2rem;
}
  
@media ( min-width: 768px) { 
    .popup{
      position: relative;
      width: 50rem;
      height: 30rem;
      background-color: #000;
      border: var(--secundario) solid 0.5px ;
      border-radius: 7px;
      padding: 2rem;
    }
} 

.popup p{
  font-size: 2rem;
  font-weight: 500;
}
.popup-abierto{
  filter: blur(5px);
  z-index: -1;
}

.popup img {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 15rem;
  
}

@media ( min-width: 768px) { 
  .popup img {
    top: 200px;
    left: 325px;
    width: 15rem;
    
  }
}
 */



  /* header */ 



.header{
    background-color: rgba(0, 0, 0, 1) ;
    height: 8.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: background-color 0.5s ease;
  }


.navegacion_grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion_logo{
    width: 14rem;
    padding: 1rem;
}

.navegacion_enlace{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  top: 8rem;
  right: 0;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, .9);
  left: 100%;
  transition: left 1s;
  border-radius: 7px;
}

.navegacion_enlace a {
  animation:  .5s ease-in-out forwards;
}

.hidden{
  left:20%;
  transition: left 1s;
}


.menu{
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: .65rem;
}

.menu > div{
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: transform .5s; 
  transform-origin: left;
  
}


.menu:hover{
  cursor: pointer;
}

.menu:hover div:first-child{
  transform: rotate(45deg);
}

.menu:hover div:nth-child(2){
  opacity: 0;
}

.menu:hover div:last-child{
  transform: rotate(-45deg);
}

.menu_info{
  width: 60%;
  margin-left: 5rem;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease; 
}


.mostrar{
  max-height: 100%;
  animation: animacion 1s ease-in-out both;
}

.info-llamada{
  margin-top: 7rem;
  margin-left: 5rem;
  font-size: 1.3rem;
  
}

.info-correo{
  margin-left: 5rem;
  font-size: 1.3rem;
 
}


@media ( min-width: 768px) { 
  .hidden{
    display: none;
  }
  
  .navegacion_enlace{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: none;
    top: -90%;
    left: 0;
    background-color: transparent;
   
  }
  .menu{
    display: none;
  }

  .menu_info{
    display: none;
  }
  .info-llamada, .info-correo{
    display: none;
  }
}

.enlace{
    margin-top: 2rem;
    position: relative;
    margin-left: 5rem;
    font-size: 1.3rem;
}

@keyframes animacion {
  from {
    opacity: .1;
    translate: 200px 0;
  }
  to {
    opacity: 100%;
    translate: 0 0;
  }
}

.navegacion_enlace a:hover{
    color: var(--secundario);
    transition: .3s;
}


.enlace::before {
  content: '';
  position: absolute;
  bottom: -40%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: var(--secundario);
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1)
}

.enlace:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.enlace:nth-child(3){
  background-color: var(--secundario);
  padding: .3rem  0;
  border-radius: 1.2rem;
  width: 30%;
  text-align: center;
  color: #000;
}

@media ( min-width: 768px) { 
  .enlace:nth-child(3){
    padding: .7rem;
  }
}

.enlace:nth-child(3)::before{
  width: 0;
}

.enlace:nth-child(3):hover{
  background-color: #fff;
  color: var(--secundario);
  animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  color: #000;
}



/* HERO */

.section{
  background-image: url(../img/hero.webp);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-color: #000;
  width: 100%;
  height: 100rem;

}

.hero_grid{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media ( min-width: 768px) { 
  .hero_grid{
   align-items: start;
  }
}


.hero-h{
    margin-top: 15rem;
    animation: text 1s ease-in-out both;
}

@media ( min-width: 768px) { 
    .hero-h{
      margin-bottom: 5rem;
      
    }
}



.hero_h1{
  font-size: 3.5rem;
  text-transform: uppercase;
}

@media ( min-width: 768px) { 
  .hero_h1{
    font-size: 9rem;
    grid-column: 1/3;
  }
}
.hero-h p {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

@media ( min-width: 768px) { 
  .hero-h p {
    font-size: 2.618rem;
  }
}

.hero-h p span {
  color: var(--secundario);
}


.hero_btn{
  position: fixed;
  width: 100%;
  height: 6rem;
  left: 0;
  bottom: 0;
  background-color: #caa900;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  animation: btn 1s ease-in-out both;
  color: #19191a;
  border-color: transparent;
  z-index: 5;
}

@keyframes btn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media ( min-width: 768px) { 
  .hero_btn{
    display: none;
  }
}

.hero_btn:hover{
  background-color: #fff;
  cursor: pointer;
  color: #000;
  transition: .5s;
}

@keyframes text {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
  
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* MAIN */


#sectionPin {
  display: none;
	height: 500vh;

}
@media ( min-width: 768px) { 
  #sectionPin{
    display: block;
  }
}

.pin-wrap-sticky{
  display: none;
  overflow-x: hidden;
}

@media ( min-width: 768px) { 
  .pin-wrap-sticky {
    display: block;
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    overflow-x:hidden;
  }
  
}

.pin-wrap{
  display: none;
}

@media ( min-width: 768px) { 
  .pin-wrap{
      height: 100vh;
      width: 600vmax;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding:10vw 0 10vw 0;
      background-color: #fff;
    }

}


.pin-content{
  display: flex;
}

.pin-content picture {
  margin-left: 5rem;
}

.contenedor_texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contenedor_texto {
 width: 100vmax;
}

@media ( min-width: 992px) { 
  .contenedor_texto{
    color: #000;
    font-size: 2.5rem;
    width: 45vmax;
  }
}

.contenedor_logo{
  display: flex;
}

.contenedor_img{
  margin: 0 auto;
  width: 20rem; 
}




.pin-h3{
  text-align: center;
  font-size: 3rem;
  color: #000;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.pin_img{
  height: 59vh;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}



/*CAROUSEL */
@media ( min-width: 768px) { 
  .carrousel{
    display: none;
  }
}

.carrousel{
  width: 100%;
  max-width: 120em;
  overflow: hidden;
}

.main_head{
  width: 100%;
  text-align: center;
  margin-top: 10rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.grande{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  transform: translateX(0%);
}

.carrousel_img{
  width: 100%;
  min-width: 100%;
}



/* ARTICLE */



.article {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
}

@media ( min-width: 992px) { 
  .article {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}

.article h3 {
  color: #000;
  max-width: 100%;
  width: 100%;
  font-size: 18px;

}

.article h3::after{
  content: "";
  display: block;
  border-bottom: solid var(--secundario) 3px;
  width: 12%;
}

.article_text p{
  color: #000;
  font-size: 15px;
}



@media ( min-width: 992px) { 
  .article_img1 {
    columns: 1/2;
    grid-row: 2/3;
  }
}

.article img {
  max-width: 100%;
  animation: efect auto linear both ;
  animation-timeline: view();
  animation-range: entry 25% cover 35%;
}

@media ( min-width: 768px) { 
  .article_img, .article_img1{
    width: 500px;
    height: 300px;
  }
}

@keyframes efect {
  0%{
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}


/* FOOTER */

footer{
  background-color: #000;
}

.contenedor-flex{
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 0;
}

@media ( min-width: 768px) { 
  .contenedor-flex{
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0 0 0;
  }
  
}

.footer-logo{
  display: none;
}


@media ( min-width: 768px) { 

  .footer-logo{
    display: block;
  }

  .footer-logo img{
    width: 13rem;
  }
}

.contenedor-flex li {
  color: #fff;
  line-height: 2.1rem;
  font-size: 1.2rem;
}



ul{
  list-style-type: none;
 
}

.footer-contact a {
  font-size: 1.3rem;
  line-height: 3rem;
}
@media ( min-width: 768px) { 
  .footer-contact a {
    line-height: 2.2rem;
  }
}

.footer-links p, .footer-contact p, .footer-informacion p {
  border-right: solid 1px var(--secundario);
}

 strong  {
  color: var(--secundario);
}

.footer_list li{
  font-size: 1.3rem;
}

.footer_list li{
  margin-top: 1rem ;
}

@media ( min-width: 768px) { 
  .footer_list li{
    margin-top: 0rem ;
  }
}

.footer_list li a:hover{ 
  color: var(--secundario);
}
.footer-bottom{
  text-align: center;
  padding: 2rem;
  margin: 0;
}

.footer-bottom small{
  font-size: 1.2rem;
  color: var(--secundario);
}

/*INSCRIPCION*/

.contenedor-card{
  max-width: 150rem;
  margin: 0 auto;
  width: 100%;
}

.head-inscripcion{
  margin-top: 15rem;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(to right, #f8de67, #19191a);
  -webkit-background-clip: text; 
  color: transparent;
}

@media ( min-width: 768px) { 
  .head-inscripcion{
    font-size: 6.5rem;
  }
}

.plano-head{
  margin-top: 20rem;
  
}

.pago-grid{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding: 1rem;
}

@media ( min-width: 768px) { 
  .pago-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin: 5rem;
  }
}

@media (min-width: 992px){
  .pago-grid{
    display: grid;
    grid-template-rows: none;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
    }
}

.pago-contenido{
  display: grid;
  background-color: #19191a;
  border-radius: 1rem;
  height: 45rem;
  background-image: url(../img/Png-White.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 90% ;
  background-position-y: 35% ;
}


.pago-contenido:nth-child(1){
  z-index: 2;
  grid-row: 1;
  grid-column: 3/4;
  background-image: url(../img/venomfitness_logo.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 95% ;
  background-position-y: 35% ;
  box-shadow:  1px 1px 5px;
}

@media ( min-width: 768px) { 
  .pago-contenido:nth-child(1){
    grid-column: 1/2;
  }
}
@media ( min-width: 992px) { 
  .pago-contenido:nth-child(1){
    transform: scale(1.1);
    grid-column: 3/4;
  }
}

.pago-contenido:nth-child(1) .pago_head{
  color: #f8de67;
  font-family: 'My-font1';
  font-size: 2.3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
}

.pago-contenido:nth-child(1)  .pago_lista{
  color:#f8de67
}
.pago-contenido:nth-child(1) p{
  color:#f8de67
}


@media ( min-width: 768px) { 
  .pago-contenido{
    width: 30rem;
  }
}


.pago_head{
  font-family: 'My-font1';
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  
}

.pago_price {
  position: relative;
  color: #fff;
  font-size: 2.5rem;
  margin-left: 2rem;
  font-family: 'My-font1';
  
}

.span{
  position: absolute;
  color: #d1d1d1;
  font-size: 10px;
  top:10px;
  margin-left: 3px;
}

.pago_fecha{
  margin-left: 2rem;
  font-family: 'My-font1';
}

.pago_lista{
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-size: 1.2rem;
}

.pago-contenido ul{
  text-decoration:wavy;
  color: #fff;
}

.contenedor_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}


.pago-btn{
  width: auto;
  background-color: var(--secundario);
  border-radius: .7rem;
  border: solid var(--secundario) 1px;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom:5rem ;
}

.pago-btn a { 
  font-size: 2rem;
}



.pago-btn:hover{
  animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 5px 0px rgba(161, 152, 20, 0.7);
  }
}

/* INSTALACIONES */


.intalacion_title{
  color: #000;
  text-align: center;
  margin-bottom: 6rem;
  text-transform: uppercase;
  margin-top: 20rem;
  font-size: 4rem;
}

@media ( min-width: 768px) { 
  .intalacion_title{
    margin-bottom: 10rem;
    font-size: 4rem;
  }
}

.intalacion_title::after{
  content: "";
  display: block;
  border-bottom: var(--secundario) solid 2px;
  margin: 0 auto;
  width: 25%;
}

.entrada_grid{
  margin-bottom: 5rem;
  padding: 1.5rem;
}

.entrada_grid P {
  font-size: 2rem;
  color: #000;
  margin-bottom: 50px;
  text-align: center;
}


@media ( min-width: 768px) { 
  .entrada_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0;
  }
  .entrada_grid P{
    margin-bottom: 0;
    text-align: start;
  }
}



.entrada_img img{
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10rem;
  
}

@media ( min-width: 768px) { 
  .entrada_img img{
    width: 120%;
  }
}

.intalacion_grid {
  padding: 1.5rem;
  margin-bottom: 5rem;
}

@media ( min-width: 768px) { 
  .intalacion_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 2rem;
  margin-bottom: 15rem;
  padding: 0;
  }
}


.intalacion_grid img {
  width: 100%;
  margin-bottom: 1rem;
  animation: scroll linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 25%;
}

.intalacion_grid div {
  margin: 0;
}

.intalacion_img:first-child{
  grid-column: 1/3;
}
.intalacion_img:nth-child(2){
  grid-column: 3/3;
  grid-row: 1;
}
.intalacion_img:nth-child(3){
  grid-column: 3/4;
  grid-row: 2/3;
}

@keyframes scroll {
  0% { opacity: 0;
      translate: 0 100px;
  }
  50%{
    opacity: 0.3;
  }
  100% { opacity: 1;
    translate: 0 0;
  }
}

.estalecimiento{
  color: #000;
  text-align: center;
}
