@font-face {
  font-family: "My-font1";
  src: url(./HelveticaNowText-ExtraBold.woff2) format('woff2');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "My-font2";
  src: url(./HelveticaNowText-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

:root{
    --secundario: #d9b84f;
    --black: #2d2d2d;
  
  }

  .contenedor{
    max-width: 110rem;
    margin: 0 auto;
    width: 100%;
}



body{
  font-family: 'My-font2';
  font-weight: normal;
  background-color: #fff;
  --sb-track-color: #ffffff;
  --sb-thumb-color: #020202;
  --sb-size: 8px;
  
  scrollbar-color: var(--sb-thumb-color) 
  var(--sb-track-color);
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 7px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 7px;
}

p {margin-bottom: 1rem;
  font-size: 1.3rem;
  line-height: 1.4;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  
}

h1 {
  margin-top: 0;
  font-size: 11.089rem;
  color: #fff;
  font-family:'My-font1';
}

h2 {font-size: 6.854rem; font-family: 'My-font1';}

h3 {font-size: 4.236rem;}

h4 {font-size: 2.618rem;}

h5 {font-size: 1.618rem;}

small, .text_small {font-size: 0.618rem;}

p, h3 {color: #fff;}

a{ 
  text-decoration: none;
  color: #fff;
}



  /* header */


 

.header{
    background-color: rgba(0, 0, 0, 1) ;
    height: 8.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: background-color 0.5s ease;
  }


.navegacion_grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion_logo{
    width: 14rem;
    padding: 1rem;
}

.navegacion_enlace{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  top: 8rem;
  right: 0;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, .9);
  left: 100%;
  transition: left 1s;
  border-radius: 7px;
}

.navegacion_enlace a {
  animation:  .5s ease-in-out forwards;
}

.hidden{
  left:20%;
  transition: left 1s;
}


.menu{
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: .65rem;
}

.menu > div{
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all .5s;
  transform-origin: left;
  
}


.menu:hover{
  cursor: pointer;
}

.menu:hover div:first-child{
  transform: rotate(45deg);
}

.menu:hover div:nth-child(2){
  opacity: 0;
}

.menu:hover div:last-child{
  transform: rotate(-45deg);
}

.menu_info{
  width: 60%;
  margin-left: 5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease; 
}

.mostrar{
  max-height: 100%;
  animation: animacion 1s ease-in-out both;
}

.info-llamada{
  margin-top: 10rem;
  margin-left: 5rem;
  font-size: 1.3rem;
 
}

.info-correo{
  margin-left: 5rem;
  font-size: 1.3rem;
 
}


@media ( min-width: 768px) { 
  .hidden{
    display: none;
  }
  
  .navegacion_enlace{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: none;
    top: -90%;
    left: 0;
    background-color: transparent;
   
  }
  .menu{
    display: none;
  }

  .menu_info{
    display: none;
  }
  .info-llamada, .info-correo{
    display: none;
  }
}

.enlace{
    margin-top: 2rem;
    position: relative;
    margin-left: 5rem;
    font-size: 1.3rem;
}

@keyframes animacion {
  from {
    opacity: .1;
    translate: 200px 0;
  }
  to {
    opacity: 100%;
    translate: 0 0;
  }
}

.navegacion_enlace a:hover{
    color: var(--secundario);
    transition: .3s;
}


.enlace::before {
  content: '';
  position: absolute;
  bottom: -40%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: var(--secundario);
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1)
}

.enlace:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.enlace:nth-child(3){
  background-color: var(--secundario);
  padding: .3rem  0;
  border-radius: 1.2rem;
  width: 30%;
  text-align: center;
  color: #000;
}

@media ( min-width: 768px) { 
  .enlace:nth-child(3){
    padding: .7rem;
  }
}

.enlace:nth-child(3)::before{
  width: 0;
}

.enlace:nth-child(3):hover{
  background-color: #fff;
  color: var(--secundario);
  animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  color: #000;
}




/* MAIN */



.section{
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment:fixed;
  width: 100%;
  height: 100rem;

}

.hero_grid{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.hero_h1{
  font-size: 3rem;
  margin: 0 0 25rem 0;
  text-transform: uppercase;
}

@media ( min-width: 768px) { 
  .hero_h1{
    font-size: 9rem;
    text-align: start;
    margin: 0 5rem;
  }
}

.hero-h{
  margin-top: 15rem;
  opacity: 0;
  animation: text 1s ease-in-out both;
}

@media ( min-width: 768px) { 
  .hero-h{
    margin-bottom: 5rem;
  }
}


.hero_btn{
  background-color: var(--secundario);
  border-radius: 1.2rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  animation: text 1s ease-in-out both;
  color: #000;
  border-color: transparent;
}

@media ( min-width: 768px) { 
  .hero_btn{
    display: flex;
    justify-content: start;
  }
}

.hero_btn:hover{
  background-color: #fff;
  cursor: pointer;
  color: #000;
  transition: .5s;
}



.aside{
  display: none;
}


@media ( min-width: 1024px) { 
  .aside {
    display: flex;
      justify-content: end;
      left: 0;
  }
  .aside h3{
    background-color: rgb(0, 0, 0, .9);
    padding: 4rem;
    position: absolute;
    right: 0;;
    width: 40.1%;
    height: 13.1rem;
    font-weight: bold;
    top: 61%;
    color: var(--secundario);
    
  }
}


@keyframes text {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
  
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* MARCA */

.marca{
 padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.marca_tittle{
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.marca_tittle::after{
  content: "";
  display: block;
  border-bottom: solid var(--secundario) 2px;
  margin: 0 auto;
}

.marca_content{
  margin-top: 5rem;
}

.marca_img {
  margin: 0 auto;
}

/* ANIMATION */


.containerr{
  display: block;
  
}



#sectionPin {

	height: 500vh;

}

.pin-wrap-sticky {
	height: 100vh;
	width: 100vw;
	position: sticky;
	top: 0;
	overflow-x: hidden;
}

.pin-wrap {
	height: 100vh;
	width: 600vmax;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
  background-color: #F5F7FA;
}

.pin-content{
  display: flex;
}

.pin-h2{
  font-size: 3rem;
}

.pin_img{
  height: 59vh;
  width: auto;
  max-width: 100%;
  margin-left: 5rem;
  border-radius: 5px;
}

@media ( min-width: 768px) { 

  .pin-h2{
    max-width: 100%;
    text-transform: uppercase;
    font-size: 4rem;
  }
}





/* ARTICLE */



.article {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: grid;
  gap: 1rem;
}

@media ( min-width: 768px) { 
  .article {
    grid-template-columns: repeat(2, 1fr);
  }
}

.article h3 {
  max-width: 55%;
  font-size: 2rem;
  color: #000;
  animation: efect auto linear both ;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;

}

.article h3::after{
  content: "";
  display: block;
  border-bottom: solid var(--secundario) 3px;
  width: 30%;
}


@media ( min-width: 768px) { 
  .article_img1 {
    columns: 1/2;
    grid-row: 2/3;
  }
}

.article img {
  max-width: 100%;
  width: 500px;
  height: 300px;
  animation: efect auto linear both ;
  animation-timeline: view();
  animation-range: entry 20% cover 25%;
}

.article_text p{
  color: #000;
  animation: efect auto linear both ;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes efect {
  from {
    opacity: 0.1;
    translate: 200px 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

/*SLIDE */

.slide_titulo{
  text-align: center;
  color: #000 ;
  font-size: 3.5rem;
  text-transform: uppercase;
}



.slide_contenedor{
  margin-bottom: 15rem;
}

.slide{
  position: relative;
  width: 100%;
  height: auto;
  margin: 5rem auto 0;
  background-color: #ECECEC;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  border-radius: 1rem;
  animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  margin-bottom: 20rem;
}

.slide-contenedor{
  max-width: 90%;
}



@media ( min-width: 768px){
  .slide{
    position: relative;
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    padding: 2rem;
    border-radius: 1rem;
  }
  .slide-contenedor{
    max-width: 110rem;
    /*right: 15%;*/
  }
}


.slide ul {
  display: flex;
  padding: 0;
  width: 200%;
  animation: slide 10s infinite alternate ease-in-out;
}

.contenedor_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  justify-items: center;
}

@media ( min-width: 768px) { 
  .contenedor_logo{
    flex-direction: row;
  }
}

.slide_logo{
  display: block;
  padding: 1rem;
  width: 25rem;
}

.slide_logo:last-child{
  width: 20rem;
}

@media ( min-width: 768PX) { 
  .slide ul {
    padding: 0;
    width: 800%;
  }
  .slide_logo{
    display: inline;
    width: 20rem;
  }
}

.slide li {
  width: 50%;
  list-style: none;
  position: relative;
  padding: 2rem;
  margin: 0 ;
  
}



.slide_img{
  width: 28rem;
  margin-left: 2rem;
}

.slide_info{
  position: relative;
}

.slide_info h3 {
  margin-left: 5rem;
  font-size: 3rem;
  color: #000;
  text-transform: uppercase;
}

.slide_info p {
  margin-left: 5rem;
  color: #000;
}






@media ( min-width: 768px) { 
  .slide_info{
    position: absolute;
    top: 0;
    left: 40rem;
  }
  .slide li {
    width: 90%;
    list-style: none;
    position: relative;
    padding: 2rem;
  }
  .slide_info p {
    width: 80%;
  }
  .slide_info h3 {
    margin: 2rem;
    padding: 1rem;
  }
  .slide_img{
    width: 35rem
  }
  
}


.slide_img {
  object-fit: cover;
}




@keyframes slide {
  0% { margin-left: 0;}
  20% { margin-left: 0;}

  25% { margin-left: -100%;}
  45% { margin-left: -100%;}

  50% { margin-left: -200%;}
  70% { margin-left: -200%;}

  75% { margin-left: -300%;}
  100% { margin-left: -300%;}
}





/* FOOTER */

footer{
  background-color: #000;
  
}

.contenedor-flex{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@media ( min-width: 768px) { 
  .contenedor-flex{
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
  }
  
}

.footer-logo{
  display: none;
}


@media ( min-width: 768px) { 

  .footer-logo{
    display: block;
  }

  .footer-logo img{
    width: 13rem;
  }
  
  .icon{
    display: flex;
    margin-right: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
  .icon img{
    width: 3.5rem;
    
  }
  .icon_ig{
    margin-right: 1rem;
  }
}

.contenedor-flex li {
  color: #fff;
  line-height: 2.1rem;
  font-size: 1.2rem;
}



ul{
  list-style-type: none;
 
}

.footer-contact a {
  font-size: 1.2rem;
  line-height: 2.1rem;
}

.footer-links p, .footer-contact p {
  border-right: solid 1px var(--secundario);
}

 strong  {
  color: var(--secundario);
}

.footer_list li a:hover{ 
  color: var(--secundario);
}
.footer-bottom{
  text-align: center;
  padding: 2rem;
  margin: 0;

}

.footer-bottom small{
  font-size: 1.2rem;
  color: var(--secundario);
}

/*INSCRIPCION*/

.head-inscripcion{
  margin-top: 15rem;
  font-size: 4rem;
  color: rgba(0, 0, 0, .9);
  text-transform: uppercase;
  text-align: center;
}

@media ( min-width: 768px) { 
  .head-inscripcion{
    text-align: start;
    font-size: 5rem;
  }
}

.plano-head{
  margin-top: 20rem;
  
}

.pago-grid{
 
  display: grid;
  grid-template-rows: repeat(3,1fr);
  gap: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

@media ( min-width: 768px) { 
  
.pago-grid{
  display: grid;
  grid-template-rows: none;
  grid-template-columns: repeat(3,1fr);
  gap: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
}

.pago-contenido{
  background-color: #19191a;
  border-radius: 3rem;
  height: 35rem;
  width: 80%;
  margin: 0 auto;
  box-shadow:  1px 1px 5px;
}

.pago-contenido:first-child{
  background-image: url(../img/backGroud-pago.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 90% ;
  background-position-y: 35% ;
  background-color: #020202;
}

.pago-contenido:first-child .pago_lista{
  color:#f8de67
}
.pago-contenido:first-child p{
  color:#f8de67
}

.pago-contenido:nth-child(2){
  background-image: url(../img/backGroud-pago.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 90% ;
  background-position-y: 35% ;
}

.pago-contenido:last-child{
  background-image: url(../img/Png-Black[1898].png);
  background-color: #ECECEC;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 90% ;
  background-position-y: 35% ;
}

.pago-contenido:last-child .pago_head
{
  color: #000;
}
.pago-contenido:last-child .pago_lista
{
  color: #000;
}
.pago-contenido:last-child p
{
  color: #000;
}

.pago_premium{
  color: #f8de67;
  font-family: 'My-font1';
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}




@media ( min-width: 768px) { 
  .pago-contenido{
    width: 100%;
  }
}


.pago_head{
  font-family: 'My-font1';
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  
}

.pago_price {
  color: #fff;
  font-size: 3rem;
  margin-left: 2rem;
  font-family: 'My-font1';
}

.pago_fecha{
  margin-left: 2rem;
  font-family: 'My-font1';
}

.pago_lista{
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-size: 1.2rem;
}

.pago-contenido ul{
  text-decoration:wavy;
  color: #fff;
}


.pago-btn{
  width: 89%;
  margin-top: 3rem;
  
  background-color: var(--secundario);
  border-radius: .7rem;
  border: solid var(--secundario) 1px;
  padding: 1rem;
  font-size: 2rem;
}

.btn1{
  margin-top: 5rem;
}

.pago-btn:hover{
  animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 5px 0px rgba(161, 152, 20, 0.7);
  }
}

/* INSTALACIONES */


.intalacion_title{
  color: #000;
  text-align: center;
  margin-bottom: 10rem;
  text-transform: uppercase;
  
}

@media ( min-width: 768px) { 
  .intalacion_title{
    margin-top: 20rem;
    font-size: 4rem;
  }
}

.intalacion_title::after{
  content: "";
  display: block;
  border-bottom: var(--secundario) solid 2px;
  margin: 0 auto;
  width: 25%;
}

.entrada_grid{
  margin-bottom: 10rem;
}


@media ( min-width: 768px) { 
  .entrada_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.entrada_grid P {
  font-size: 2rem;
  color: #000;
}

.entrada_img{
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10rem;
  
}

@media ( min-width: 768px) { 
  .entrada_img {
    width: 120%;
  }
}


@media ( min-width: 768px) { 
  .intalacion_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 2rem;
  margin-bottom: 15rem;
  }
}


.intalacion_grid img {
  width: 100%;
  margin-bottom: 1rem;
  animation: scroll linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 25%;
}

.intalacion_grid div {
  margin: 0;
}

.intalacion_img:first-child{
  grid-column: 1/3;
}
.intalacion_img:nth-child(2){
  grid-column: 3/3;
  grid-row: 1;
}
.intalacion_img:nth-child(3){
  grid-column: 3/4;
  grid-row: 2/3;
}

@keyframes scroll {
  0% { opacity: 0;
      translate: 0 100px;
  }
  50%{
    opacity: 0.3;
  }
  100% { opacity: 1;
    translate: 0 0;
  }
}

.estalecimiento{
  color: #000;
  text-align: center;
}

.iframe{
  background-color: #000;
}